[submodule "iterm2/onehalf"]
	path = iterm2/onehalf
	url = git@github.com:sonph/onehalf.git
[submodule "work-dotfiles"]
	path = work-dotfiles
	url = git@github.com:santiagotoscanini/dotfiles-work.git
