<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.stoscanini.dark-mode-notifier</string>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/stoscanini/.dark-mode-notifier-stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/stoscanini/.dark-mode-notifier-stdout.log</string>

    <key>ProgramArguments</key>
    <array>
       <string>dark-mode-notifier</string>
       <string>zsh</string>
       <string>-c</string>
       <string>autoSwitchAlacrittyTheme</string>
    </array>
</dict>
</plist>
